body {
  height: 100dvh;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  color: #e3e3e3;
  padding: 16px;
}

.header h1 {
  margin: 0;
}

.header .add-button {
  padding: 8px;
  border-radius: 4px;
}

.main {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: 1rem 1fr 1rem;
}

.book-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 280px));
  justify-content: center;
  gap: 2rem;
}

.book-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

.booktext-div {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 4px;
  text-wrap: pretty;
  font-size: 8px;
}

.keys,
.value,
.colon {
  font-size: 2em;
}

.button-div {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.remove-button,
.change-status {
  width: 5rem;
}