.book-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3px;
  padding: 8px;
}

.display-book {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}
