* {
  padding: 0;
  margin: 0;
}

:root {
  --header-main: #111a19;
  --header-secondary: #f8d794;
  --red: #e53e3e;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/roboto/Roboto-Regular.woff") format("woff2"),
    url("/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Valkyrie";
  src:
    url("/fonts/Valkyrie/WalkieValkyrie-Regular.woff2") format("woff2"),
    url("/fonts/Valkyrie/WalkieValkyrie-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

dialog {
  margin: auto;
}

body {
  height: 100dvh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 32px;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid black;
    background-color: var(--header-main);
    color: var(--header-secondary);

    h1 {
      font-family: "Valkyrie", "Times New Roman", Times, serif;
    }

    .open-modal-button {
      padding: 8px;
      font-weight: 600;
      border-radius: 4px;
      border: none;
      border: 3px solid var(--header-secondary);
      background-color: var(--header-secondary);
      color: var(--header-main);
    }

    .open-modal-button:hover {
      background-color: var(--header-main);
      color: var(--header-secondary);
    }
  }

  .main {
    grid-row: 2 / 3;
    padding-bottom: 32px;

    .display-book {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 280px));
      grid-template-rows: repeat(auto-fit, minmax(80px, 160px));
      height: 100%;
      row-gap: 24px;
      column-gap: 32px;
      justify-content: center;
    }

    .book-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--header-main);
      padding: 16px;
      border-radius: 8px;
      gap: 4px;
      font-size: 1em;
      box-shadow: 0 10px 25px rgba(17, 26, 25, 0.15);

      .card-button {
        display: flex;
        justify-content: flex-end;
        gap: 8px;

        button {
          border-radius: 4px;
          padding: 8px;
          font-weight: 400;
        }

        .delete-button {
          background-color: var(--red);
          color: white;
          border: 2px solid var(--red);
        }

        .delete-button:hover {
          background-color: white;
          color: var(--red);
        }

        .change-status{
          background-color: var(--header-main);
          color: var(--header-secondary);
          border: 2px solid var(--header-main);
        }

        .change-status:hover {
          background-color: white;
          color: var(--header-main);
        }
      }
    }
  }
}

button {
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.34);
  transition: all 0.1s ease;
}

button:active {
  transform: translateY(4px);
  box-shadow: 0 0px rgba(0, 0, 0, 0.34);
}

dialog[open] form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 8px;

  legend {
    font-weight: 600;
    font-size: 1.5em;
    align-self: center;
  }

  .input-wraper {
    display: flex;
    justify-content: space-between;

    gap: 8px;
    font-size: 1.2em;
    input,
    select {
      padding: 2px 4px;
      border-radius: 4px;
      border: 1px solid var(--header-main);
    }
  }

  button {
    align-self: center;
    width: 80px;
    height: 36px;
    background-color: var(--header-main);
    color: var(--header-secondary);
    border: none;
    border-radius: 4px;
  }
}

dialog {
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1em;
}
